<div class="appointments-container">
  <app-sidebar></app-sidebar>

  <div class="main-content">
    <h2 class="title">Psychologist / Therapist Approval Requests</h2>

    <div class="appointments-table">
      <table>
        <thead>
          <tr>
            <th>Request Id</th>
            <th>Name</th>
            <th>Title</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of verificationRequests">
            <td>{{ request.id }}</td>
            <td class="image-and-name">
              <div class="patient-info">
                <img [src]="request.doctorImageUrl" [alt]="request.doctorFullName" class="patient-avatar" />
                <div class="patient-details">
                  <span class="patient-name">{{ request.doctorFullName }}</span>
                  <span class="patient-age">{{ calculateAgeFromDob(request.dateOfBirth) }} yrs</span>
                </div>
              </div>
            </td>
            <td class="doc-title">{{getTitleName(request.title)}}</td>
            <td>
              <span class="status-badge" [ngClass]="getStatusName(request.status)">
                {{ getStatusName(request.status) }}
              </span>
            </td>
            <td>
              <div class="action-buttons">
                <button class="icon-button view-btn">
                  <span>View</span>
                  <i class="fas fa-eye"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-admin-footer></app-admin-footer>
