<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="logo-container">
      <img src="images/admin.png" alt="Prescripto" class="logo">
      <span class="logo-text">{{getAdminName()}}</span>
      <div class="doctor-badge">Admin</div>
    </div>

    <nav class="nav-menu">
      <a
        routerLink="/admin-dashboard/main-content"
        routerLinkActive="active"
        class="nav-item"
      >
        <i class="fas fa-home"></i>
        Dashboard
      </a>
      <a
        routerLink="/admin-dashboard/doctor-requests"
        routerLinkActive="active"
        class="nav-item"
      >
        <i class="fa-solid fa-rectangle-list"></i>
        Doctor Verification Requests
      </a>
      <a
        routerLink="/admin-dashboard/profile"
        routerLinkActive="active"
        class="nav-item"
      >
        <i class="fas fa-user"></i>
        Profile
      </a>
    </nav>
  </div>
</div>
