<!-- Header -->
<header class="header">
  <!-- Logo -->
  <div class="logo">
    <!-- <img src="images/logo.png" alt="logo" class="logo-image"> -->
    <h2>Seravian</h2>
  </div>

  <!-- Navigation Bar -->
  <div class="nav-bar">
    <nav class="links-list">
      <ul>
        <li><a href="">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Our Team</a></li>
        <li><a href="">Whitepaper</a></li>
      </ul>
    </nav>
  </div>

  <!-- Buttons -->
  <div class="buttons">
    <button class="contact-btn">Contact</button>
    <button class="wallet-btn">Connect Wallet</button>
  </div>

  <!-- Menu Toggle Button for Mobile -->
  <div class="menu-toggle">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>
</header>
