  <!-- our-offer -->
  <div class="our-offer">
    <h2>What We Offer</h2>
    <h1>Explore Our Comprehensive Wellness Services</h1>
    <p class="offer-description">
        We believe mental health is a journey, and every journey deserves personalized guidance.
    </p>
    <div class="cardos-container">
        <!-- Card 1 -->
        <div class="cardo first">
            <div class="cardo-content">
                <h3>Personalized Mental <br>Health Plans</h3>
                <p>Create tailored plans to meet your unique mental health needs.</p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
        <!-- Card 2 -->
        <div class="cardo second">
            <div class="cardo-content">
                <h3>Compassionate & <br>Qualified Professionals</h3>
                <p>Work with professionals who genuinely care about your well-being.</p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
        <!-- Card 3 -->
        <div class="cardo third">
            <div class="cardo-content">
                <h3>Holistic Healing <br>Approach</h3>
                <p>Discover holistic techniques to foster emotional and physical balance.</p>
                <a href="#" class="read-more">Read More</a>
            </div>
        </div>
    </div>
  </div>
