  <!-- mobile-app -->

  <div class="app-container">
    <div class="app-wrapper">
      <div class="app-content-wrapper">
        <div class="content">
          <h1>Comprehensive Mental Health Care Solution</h1>
          <p class="tagline">We want you to feel better, faster.</p>
          <p class="description">
            We know that it can be hard to look past your worries and focus on what's important,
            but this is not just about getting through today—it's about getting through life.
            And we think that's worth the effort!
          </p>
          <p class="description">
            We’ve got a lot of great things planned for our app: podcasts and videos to help you
            calm down and get centered, therapy sessions to help you work out your issues and find
            solutions, and even social events where you can meet other people who are looking for
            ways to improve their mental health. We’re all here because we care about your well-being,
            and we want to help you thrive!
          </p>
          <div class="store-buttons">
            <img src="images/appStore.png" alt="Download on the App Store">
            <img src="images/googlePlay.png" alt="Get it on Google Play">
          </div>
        </div>
      </div>
      <div class="app-preview">
        <img src="images/android-app.png" alt="App preview">
      </div>
    </div>
  </div>

