<div class="parent">
  <div class="container" >
<div class="form-container " >
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h1>Reset your password</h1>


      <span>Enter your Email address and we will send you instructions to reset your password.</span>
      <input type="email" name="email" placeholder="Email" formControlName="email">
              <div class="text-danger" *ngIf="userForm.controls['email'].invalid && (userForm.controls['email'].touched || userForm.controls['email'].dirty)">
                <span *ngIf="userForm.controls['email'].errors?.['required']">This is required</span>
                <span *ngIf="userForm.controls['email'].errors?.['pattern']">Invalid email format</span>
            </div>
      <!-- (click)="onsubmit()" -->
      <button type="submit">
        Continue
      </button>
  </form>
</div>
</div>
