<section class="team-section">
  <div class="container">
    <div class="row mb-4">
      <div class="row align-items-center">
        <div class="col-12 col-md-5">
          <h2>Compassionate, Experienced, and Ready to Support You</h2>
        </div>
        <div class="col-12 col-md-1"></div>
        <div class="col-12 col-md-6">
          <p>Our team of licensed therapists and mental health professionals bring a wealth of knowledge and empathy to guide you on your wellness journey.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-lg-3 mt-5" *ngFor="let member of teamMembers; let i = index">
        <app-team-member [member]="member" [index]="i"></app-team-member>
      </div>
    </div>
  </div>
</section>
