<div class="parent">
  <div class="container">
    <div class="form-container">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <h1>User Information</h1>

        <span>Full Name</span>
        <input
          type="text"
          name="fullName"
          placeholder="Enter Your Full Name"
          formControlName="fullName"
        >
        <div
          class="text-danger"
          *ngIf="userForm.controls['fullName'].invalid && (userForm.controls['fullName'].touched || userForm.controls['fullName'].dirty)">
          <span>Full Name is required</span>
        </div>

        <span>Date of Birth</span>
        <input
          type="date"
          name="dob"
          placeholder="Select Your DOB"
          formControlName="dob"
        >
      <div class="text-danger"
              *ngIf="userForm.controls['dob'].invalid &&
                      (userForm.controls['dob'].touched || userForm.controls['dob'].dirty)">
            <span *ngIf="userForm.controls['dob'].errors?.['required']">
              Date of Birth is required
            </span>
            <span *ngIf="userForm.controls['dob'].errors?.['futureDate']">
              Date of Birth cannot be in the future
            </span>
    </div>


        <span>Gender</span>
        <div class="gender">
          <label class="gender-option">
            <input
              type="radio"
              style="height: 15px;"
              name="gender"
              [value]="0"
              formControlName="gender"
            >
            Male
          </label>
          <label class="gender-option">
            <input
              type="radio"
              style="height: 15px;"
              name="gender"
              [value]="1"
              formControlName="gender"
            >
            Female
          </label>
        </div>
        <div
          class="text-danger"
          *ngIf="userForm.controls['gender'].invalid && (userForm.controls['gender'].touched || userForm.controls['gender'].dirty)">
          <span>Gender is required</span>
        </div>

        <div style="margin-top:10px ;" [formGroup]="userForm">
          <input type="checkbox" id="terms" formControlName="terms">
          <label for="terms">
            I have read and agree to Seravian's
            <a href="https://seravian.runasp.net/terms/Seravian%20Platform%20User%20Roles%20and%20Access%20Policy.pdf" target="_blank" style="color: #4e34cf; text-decoration: underline;">Terms of Service</a>
            and
            <a href="https://seravian.runasp.net/terms/Seravian%20Platform%20User%20Roles%20and%20Access%20Policy.pdf" target="_blank" style="color: #4e34cf; text-decoration: underline;">Privacy Policy</a>
          </label>
          <div
            class="text-danger"
            *ngIf="userForm.controls['terms'].invalid && (userForm.controls['terms'].touched || userForm.controls['terms'].dirty)">
            <span>You must agree to the terms to proceed.</span>
          </div>
        </div>


        <button type="submit">Continue</button>
        <button type="button" (click)="goBack()">Back</button>
      </form>
    </div>
  </div>
</div>
