<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<footer>
  <div class="container">
      <div class="row">
          <div class="col-lg-5">
              <div class="main-box">
                  <a class="logo-link" href="#">
                      Seravian
                  </a>
                  <p>At Seravian, we are dedicated to promoting serenity in mental health.
                    Our mission is to help individuals find inner peace, emotional balance,
                     and resilience through mindfulness, acceptance, and positive well-being.
                      We believe that achieving a state of calmness and clarity is essential for
                       navigating life’s challenges and fostering a healthier, more fulfilling life.</p>
                  <a href="#"><i class="fab fa-instagram"></i></a>
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-whatsapp"></i></a>
                  <a href="#"><i class="fab fa-twitter"></i></a>
              </div>
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-2">
              <div class="ft-box">
                  <h4>Seravian</h4>
                  <p><a href="#">About Us</a></p>
                  <p><a href="/properties">Properties</a></p>
                  <p><a href="#">Contact Us</a></p>
                  <p><a href="#">How It Works</a></p>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="ft-box">
                  <h4>Resources</h4>
                  <p><a href="#">FAQs</a></p>
                  <p><a href="#">Terms of Use</a></p>
                  <p><a href="#">Privacy Policy</a></p>
              </div>
          </div>
          <div class="col-lg-2">
              <div class="ft-box">
                  <h4>Account</h4>
                  <p><a href="#">Log In</a></p>
                  <p><a href="#">Sign Up</a></p>
              </div>
          </div>
          <div class="col-lg-12 text-center copy-right">
              <p>
                  &copy;
                  <script type="text/javascript">document.write(new Date().getFullYear());</script>
                  Seravian - All Rights Reserved.
              </p>
          </div>
      </div>
  </div>
</footer>
