  <!-- Experience the difference section -->
  <div class="dental-services">
    <div class="dental-title-wrapper">
      <h2 class="section-title">Experience the Difference in Dental Care</h2>
      <p class="section-description">
        From preventive check-ups to advanced cosmetic dentistry, our
        experienced team is here to ensure you have a healthy, beautiful smile.
        Schedule an appointment today and experience dental care that truly
        makes you smile!
      </p>
    </div>

    <div class="cards-container">
      <div class="card">
        <h3 class="card-title">Professional Dental Services</h3>
        <p class="card-description">
          Comprehensive offerings, including preventive, restorative, cosmetic,
          and orthodontic treatments.
        </p>
        <a href="#" class="card-link">Know more</a>
      </div>
      <div class="card">
        <h3 class="card-title">Experienced Dental Team</h3>
        <p class="card-description">
          A team of qualified dentists, hygienists, and support staff with
          diverse skills and experience.
        </p>
        <a href="#" class="card-link">Know more</a>
      </div>
      <div class="card">
        <h3 class="card-title">Flexible Scheduling</h3>
        <p class="card-description">
          Appointment times that accommodate different schedules, including
          evenings or weekends.
        </p>
        <a href="#" class="card-link">Know more</a>
      </div>
    </div>
  </div>
