<div class="parent">
  <div class="container" >
<div class="form-container " >
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
      <h1>Create new password</h1>
      <span>Password</span>
      <input type="password" name="password" placeholder="Enter Your Password" formControlName="password">
              <div class="text-danger" *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].touched || userForm.controls['password'].dirty)">
                  <span *ngIf="userForm.controls['password'].errors?.['pattern']">Password must contain at least one uppercase letter, one lowercase letter, one digit, and one special character</span>
              </div>
      <span>Confirm Password</span>
      <input type="password" name="password" placeholder="Confirm Your Password" formControlName="password">
              <div class="text-danger" *ngIf="userForm.controls['password'].invalid && (userForm.controls['password'].touched || userForm.controls['password'].dirty)">
              </div>
      <button type="submit">
        Continue
      </button>
  </form>
</div>
</div>
