.team-member {
  img {
    border: none;
    max-width: 150px;
    max-height: 180px;
    width: auto;
    height: 160px;
  }

  h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .social-icons {
    margin-top: 45px;
    a {
      border: 1px solid;
      color: #fff;
      background-color: #000;
    }
  }

  .even {
    background-color: #634FD5;
  }

  .odd {
    background-color: #4e34cf;
  }
}
