<div class="parent">
  <div class="container">
    <div class="form-container">
      <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
        <h1>Check your inbox</h1>
        <p>Enter the verification code we just sent to {{ email }}</p>
        <span>code</span>
        <input
          type="text"
          name="otp"
          placeholder="Enter code"
          formControlName="otp"
          maxlength="8"
          (keypress)="preventSpace($event)"
          (paste)="sanitizePaste($event)"
        />
        <div *ngIf="(otp?.invalid && (otp?.touched || submitted))">
          <div class="text-danger">
            <span *ngIf="otp?.errors?.['required']">Please enter the code</span>
            <span *ngIf="otp?.errors?.['minlength']">Code must be exactly 8 characters</span>
          </div>
        </div>

        <div *ngIf="statusMessage">
          <div [ngClass]="{'text-success': successMessage, 'text-danger': !successMessage}">
            {{ statusMessage }}
          </div>
        </div>

        <button type="submit">Continue</button>
      </form>
      <a (click)="resendOTP()">Resend email</a>
    </div>
  </div>
</div>
