<!-- Landing section -->

<div class="home">
  <div class="content-wrapper">
    <div class="info-wrapper">
      <div class="glass-section info-section">
        <h1>Experience the Difference in Mental Health Care</h1>
        <p>
          From personalized therapy sessions to expert psychological assessments, our<br>
          compassionate professionals are dedicated to your mental well-being. <br>Schedule an appointment today and experience care that helps you heal, grow, and thrive.
        </p>
        <div class="happy-patients">
          <div class="patient-images">
            <img src="images/happy_1.jpg" alt="Patient 1">
            <img src="images/happy_2.jpg" alt="Patient 2">
            <img src="images/happy_3.jpg" alt="Patient 3">
          </div>
          <p><strong>100K+</strong> <br> Lives Supported</p>
        </div>
      </div>
    </div>

    <div class="stats-wrapper">
      <div class="glass-section stats-section">
        <div class="stats">
          <div class="stat-item">
            <p class="sub_stat_1">20+</p>
            <p class="sub_stat_2">Licensed Therapists & Psychologists</p>
          </div>
          <div class="stat-item">
            <p class="sub_stat_1">95%</p>
            <p class="sub_stat_2">Patient Satisfaction</p>
          </div>
          <div class="stat-item">
            <p class="sub_stat_1">1K+</p>
            <p class="sub_stat_2">Therapy Sessions Weekly</p>
          </div>
          <div class="stat-item">
            <p class="sub_stat_1">1</p>
            <p class="sub_stat_2">Years of Experience</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

